
html, body{
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
}

.corpo {
    background-color: #0C090D;
}

nav{
    background-color: #2b2b2b;
    color: #e01a4f;
    text-align: right;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}

.navagation-c nav{
    background-color: #0C090D;
    color: #e01a4f;
    text-align: right;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}
.navagation-c a{
    padding: 30px;
    color: #e01a4f;
}

.navagation a{
    padding: 30px;
    color: #e01a4f;
}

nav a:hover{
    color: #53b3cb;
    transition: 0.5s;
}

.capa h1{
    font-size: 58px;
    color: whitesmoke;
    line-height: 60px;
}

.capa    span{
   display: block;
}

.capa h2{
    font-size: 18px;
    color: #53b3cb;
    text-transform: uppercase;
    margin-top: -40px;
}

.capa div{
    display: inline-block;
    height: 650px;
}

.profile-pic{
    width: 40%;
    text-align: center;
}

.profile-pic img{
    border-radius: 400px;
    margin-top: 100px;
}

.profile-tex{
    width: 60%;
    vertical-align: top;
    margin-top: 150px;
}

.main img{
    float: right;
    width: 400px;
    padding-top: 10px;
}


.main{
    font-size: 16px;
    padding: 100px 180px 80px 100px;
}

.main h1{
    color: white;
}

.main h2{
    color:#e01a4f;
    font-size: 30px;

} 
.main h3{
    color: #53b3cb;
    font-size: 20px ;
}

.main p{
    color: white;
    text-align: justify;
    font-size: 15px;
    font-weight: 200;
}

.main a{
    text-decoration: none;
    color: #e01a4f;
    font-size: 20px;
}

.contact{
    font-size: 18px;
    color: white;
    text-align: left;

}
.contact h1{
    color: #e01a4f;
    font-size: 30px;
}

.contact h3{
    color: #53b3cb;
}

.contact p{
    font-weight: 200;
    color: white;
}

.text-c{
padding-top: 10px;
margin-left: 145px;
}

.icons a{
padding-left: 0;
text-align: justify;
}


.works{
    width: 320px;
    height: 320px;
}